nvim/dot-config/nvim/plugin/packer_compiled.lua
ranger/dot-config/ranger/__pycache__
ranger/dot-config/ranger/plugins/__pycache__
ranger/dot-config/ranger/plugins/__pycache__/devicons_linemode.cpython-312.pyc
